### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
# 忽略特定目录（递归忽略）
user/
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# 忽略指定文件
vcs.xml             # 精确匹配文件名
KlotskiPuzzleProject.iml


# 忽略所有同类文件（示例）
*.iml              # 忽略所有 .iml 文件
*.log              # 忽略所有日志文件
*.xml
# 忽略特定目录（递归忽略）
target/            # 忽略 target 目录及其所有内容